@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --background-color: #121212;
  --text-primary: #fffefe;
  --text-secondary: #dbe0e6;
  --background-elevated: #373737;
  --decoration: #8225a7;

  --heading-size: 2.5rem;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 600;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

.decor {
  position: absolute;
  width: 105%;
  height: 50%;
  background-color: var(--decoration);
  top: -115px;
  left: -60px;
  z-index: -1;
  rotate: -10deg;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image img {
  max-width: 400px;
}

.image .name {
  position: absolute;
  top: 0px;
}

.image h1 {
  color: var(--text-primary);
  text-shadow: 2px 2px 1px #1a1a1a8a;
  text-align: center;
  letter-spacing: 1px;
  font-size: var(--heading-size);
}

.about {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2rem 1rem;

  color: var(--text-secondary);
  background-color: var(--background-elevated);
}

.about h2 {
  font-size: var(--heading-size);
  font-weight: 450;
  color: var(--text-primary);
}

.links-header {
  display: flex;
  justify-content: flex-end;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.links-header svg {
  width: 38px;
  height: auto;

  fill: var(--text-primary);
}

#tg {
  width: 43px;
}

main {
  padding: 5rem 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 3rem;

  color: var(--text-secondary);
}

.main-wrapper h2 {
  font-size: var(--heading-size);
  font-weight: 450;
  color: var(--text-primary);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5rem;
  list-style: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-elevated);
  color: var(--text-secondary);

  min-height: 600px;

  padding-bottom: 1.2rem;

  border-radius: 15px;
}

.project-info {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.project-card img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.project-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-name h3 {
  font-size: 2rem;
  color: var(--text-primary);
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-links svg {
  width: 32px;
  height: auto;
  fill: var(--text-primary);
}

#battleship,
#todo {
  background-position: left;
  object-fit: contain;
}

footer {
  color: var(--text-secondary);
  background-color: var(--decoration);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem 3rem;
}

footer h2 {
  font-size: var(--heading-size);
  font-weight: 450;
  color: var(--text-primary);
}

.links-footer {
  display: flex;
  align-items: center;
}

.links-footer svg {
  width: 38px;
  height: auto;

  fill: var(--text-primary);
}

@media screen and (max-width: 960px) {
  .header-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .name h1 {
    font-size: 2rem;
  }

  .about {
    width: 90vw;
  }
  .about p {
    font-size: 1.3rem;
  }

  .decor {
    width: 100%;
    rotate: -45deg;
  }
  
  .image img {
    width: 90vw;
  }

  .links-header {
    justify-content: center;
  }

  .links-header svg {
    width: 60px;
  }
  #tg {
    width: 68px;
  }

  h2 {
    text-align: center;
  }

  .project-card {
    min-height: 500px;
    width: 80vw;
  }

  .header-wrapper {
    align-items: center;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #todo, #battleship {
    object-fit: cover;
  }
}


.project-github, .project-live {
  transition: all 0.3s ease;
}

.image {
  animation: slide-image 1s ease;
}
.about {
  animation: slide-about 1s ease;
}

li {
  text-decoration: none;
  transition: transform 0.3s ease;

  animation: slide-links 1s ease;
}

.project-card {
  transition: transform 0.3s ease;
}

li:hover,
.project-github:hover,
.project-live:hover {
  transform: translateY(-10px);
}

.project-card:hover {
  transform: scale(1.05);
}

@keyframes slide-about {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-links {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-image {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-20%);
  filter: blur(3px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}