@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --background-color: #121212;
  --text-primary: #fffefe;
  --text-secondary: #dbe0e6;
  --background-elevated: #373737;
  --decoration: #8225a7;

  --heading-size: 2.5rem;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 600;
}

p {
  font-family: "Inter", sans-serif;
}

.decor {
  position: absolute;
  width: 105%;
  height: 50%;
  background-color: var(--decoration);
  top: -115px;
  left: -60px;
  z-index: -1;
  rotate: -10deg;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image img {
  max-width: 400px;
}

.image .name {
  position: absolute;
  top: 0px;
}

.image h1 {
  color: var(--text-primary);
  text-shadow: 2px 2px 1px #1a1a1a8a;
  text-align: center;
  letter-spacing: 1px;
  font-size: var(--heading-size);
}

.about {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2rem 1rem;

  color: var(--text-secondary);
  background-color: var(--background-elevated);
}

.about h2 {
  font-size: var(--heading-size);
  font-weight: 450;
  color: var(--text-primary);
}

.links-header {
  display: flex;
  justify-content: flex-end;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.links-header svg {
  width: 2.5rem;
  height: auto;

  fill: var(--text-primary);
}

#tg {
  width: 2.9rem;
}

main {
  padding: 5rem 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 3rem;

  color: var(--text-secondary);
}

.main-wrapper h2 {
  font-size: var(--heading-size);
  font-weight: 450;
  color: var(--text-primary);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  list-style: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-elevated);
  color: var(--text-secondary);

  max-width: 400px;

  padding-bottom: 1.2rem;
}

.project-info {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.project-card img {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}

.project-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-name h3 {
  font-size: 2rem;
  color: var(--text-primary);
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-links svg {
  width: 2rem;
  height: auto;
  fill: var(--text-primary);
}
